  section.eventsIndex {
      // background-
      // color: rgb(52, 52, 49);
      font-family: 'Open Sans', sans-serif;
    h1 {
      color: white;
      font-style: italic;
      font-weight: bold;
    }
  }

  .eventIndexImage{
    width: 100%;
  }
  .eventDetails{
    width: 100%;
  }

  .eventHeaderImage{
    width: 50%;
  }
