<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">
  <title>Nice Rocks</title>
  <link rel="stylesheet" href="/vendors/bulma/css/bulma.css">
  <link rel="stylesheet" href="/main.css">
  <script src="/scripts/geosites.js" charset="utf-8"></script>
</head>
