<section class="home">

  <section class="hero is-large">
    <div class="hero-body">
      <div class="container has-text-centered">
        <img class="hero-image" src="./assets/resolut-logo-full-black.png" alt="logo">

        <div class="section">
          <div class="links">

            <div class="columns is-multiline">
              <div class="column is-4">
                <a class="mind has-text-weight-bold" ui-sref="eventsMindIndex">MIND</a>

              </div>
              <div class="column is-4">
                <a class="body has-text-weight-bold" ui-sref="eventsBodyIndex">BODY</a>

              </div>
              <div class="column is-4">
                <a class="soul has-text-weight-bold" ui-sref="eventsSoulIndex">SOUL</a>

              </div>
            </div>
            <div class="column is-12 has-text-centere">
              <a class="browse has-text-weight-bold" ui-sref="eventsIndex">BROWSE EVENTS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
