<!DOCTYPE html>
<html lang="en" dir="ltr">

  <% include ./partials/_head %>

  <body>
    <% include ./partials/_header %>
    <% include ./partials/_notifications %>

    <%- body %>

    <% include ./partials/_footer %>

  </body>
</html>
