<!-- INCLUDE THE HOME PAGE -->
<div ng-include="'views/home.html'"></div>

<!-- THE MODAL FOR LOGIN -->
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head is-dark">
    <p class="modal-card-title formTitles">
      Welcome to Resolut. Please sign up. <br>
      (Got an account? <a ui-sref="login">Login!</a>)
    </p>
    <button ui-sref="home" class="delete" aria-label="close"></button>
  </header>
    <section class="modal-card-body">

      <form ng-submit="register()" name="form" novalidate>

        <div class="columns is-multiline">
          <div class="column is-half">
            <!-- FIRST NAME -->
            <div class="field">
              <label class="label formTitles" for="firstName">First name<span class="has-text-danger">*</span></label>
              <input required minlength="2" ng-model="user.firstName" class="input" type="text" name="firstName" placeholder="">
            </div>

            <div ng-messages="form.firstName.$error" ng-if="form.firstName.$dirty">
              <small ng-message="required">Please add first name</small>
              <small ng-message="minlength">That name is too short!</small>
            </div>
          </div>
          <div class="column is-half">

            <!-- LAST NAME -->
            <div class="field">
              <label class="label formTitles" for="surname">Last name<span class="has-text-danger">*</span></label>
              <input ng-model="user.surname" class="input" type="text" name="surname" placeholder="">
            </div>
          </div>
          <div class="column is-full">
            <!-- EMAIL -->
            <div class="field">
              <label class="label formTitles" for="email">Email<span class="has-text-danger">*</span></label>
              <input ng-model="user.email" class="input" type="email" name="email" placeholder="">
            </div>

          </div>
          <div class="column is-half">
            <!-- USERNAME -->
            <div class="field">
              <label class="label formTitles" for="username">Username<span class="has-text-danger">*</span></label>
              <input ng-model="user.username" class="input" type="text" name="username" placeholder="">
            </div>

          </div>
          <div class="column is-half">
            <!-- POSTCODE -->
            <div class="field">
              <label class="label formTitles" for="postcodeHome">Postcode<span class="has-text-danger">*</span></label>
              <input ng-model="user.postcodeHome" class="input" type="text" name="postcodeHome" placeholder="SW7 2AF" ng-pattern="/^[a-z]{1,2}[0-9][a-z0-9]?\s?[0-9][a-z]{2}$/i" required ng-minlength="5" ng-maxlength="8">
              <div ng-messages="form.postcodeHome.$error" ng-if="form.$submitted || form.postcodeHome.$dirty">
                <small ng-message="required">Please enter postcode</small>
                <!-- <small ng-message="pattern">WTF?</small> -->
              </div>
            </div>

          </div>

          <div class="column is-full">
            <!-- PROFILE PIC  -->
            <div class="field">
              <label class="label formTitles" for="profilePic">Profile Picture</label>
              <input ng-model="user.imageUrl" class="input" type="text" name="profilePic" placeholder="http:....">
            </div>

          </div>
          <div class="column is-half">
            <!-- PASSWORD-->
            <div class="field">
              <label class="label formTitles" for="password">Password<span class="has-text-danger">*</span></label>
              <input ng-model="user.password" class="input" type="password" name="password" placeholder="">
            </div>

          </div>
          <div class="column is-half">
            <!-- PASSWORD CONFIRMATION-->
            <div class="field">
              <label class="label formTitles" for="passwordConfirmation">Password Confirmation<span class="has-text-danger">*</span></label>
              <input ng-model="user.passwordConfirmation" class="input" type="password" name="passwordConfirmation" placeholder="">
            </div>

          </div>
        </div>
        <div class="column is-full has-text-centered">
          <button class="button is-black">REGISTER</button>
        </div>
        <div class="column is-full has-text-centered">
          <img class=" imageLogo is-3x2" src="./assets/resolut-favicon-black-small.png" alt="">
        </div>
      </form>

    </section>
    <footer class="modal-card-foot"> </footer>
  </div>
</div>
