<div class="container">

  <div class="level columns">
    <div class="column is-12 ">
      <img src="./assets/resolut-logo2.png" alt="logo">
      <h1 class="title is-1 has-text-centered"> ABOUT </h1>
    </div>
  </div>
  <div class="level columns">
    <div class="column is-12 has-text-centered">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>


<!-- MIND -->
<div class="level columns">
  <div class="column is-6 containerA">

    <div class="content">

      <a ui-sref="eventsMindIndex">
        <div class="content-overlay content-overlay-circle"></div>
        <img class="aboutPhoto content-image" src="https://cdn-images-1.medium.com/max/1600/1*Ro78KFTHkKVV0uaMwOtSbw.jpeg" alt="general assembly">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">MIND</h3>
        </div>
      </a>
    </div>
  </div>

  <div class="column is-6">
    <h4 class="title is-4 has-text-centered"> MIND </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>



<!-- BODY -->

  <div class="level columns">
    <div class="column is-6">
      <h4 class="title is-4 has-text-centered"> BODY </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>



    <div class="column is-6 containerA">
      <div class="content">

        <a ui-sref="eventsBodyIndex">
<div class="content-overlay content-overlay-circle"></div>
      <img class="aboutPhoto content-image" src="https://lwithl.files.wordpress.com/2016/08/img_3449.jpg?w=940" alt="another space">
      <div class="content-details fadeIn-bottom">
        <h3 class="content-title">BODY</h3>
      </div>
    </a>
  </div>
    </div>
  </div>



  <!-- SOUL -->

  <div class="level columns">


    <div class="column is-6 containerA">
      <div class="content">

        <a ui-sref="eventsSoulIndex">
<div class="content-overlay content-overlay-circle"></div>
      <img class="aboutPhoto content-image" src="https://kittycowell.files.wordpress.com/2016/06/another_space_jms-020_test2-1250x467.jpg" alt="hatha at home">
      <div class="content-details fadeIn-bottom">
        <h3 class="content-title">SOUL</h3>
      </div>
    </a>
  </div>
    </div>



    <div class="column is-6">
      <h4 class="title is-4 has-text-centered"> SOUL </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
