<!-- to create a new set of goals -->
<!-- MODAL FOR UPDATE GOALS -->
<div ng-if="editGoal" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Update your goals for {{ currentMonth }}</p>
      <button ui-sref="usersShow({id: getPayload().sub})" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">

      <form ng-submit="editGoals()" name="form">

        <div class="field has-addons">
          <label class="label" for="mindTarget">Mind</label>
          <input ng-model="goal.mindTarget" class="input goalInput" type="number" name="mindTarget">
        </div>

        <div class="field has-addons">
          <label class="label" for="bodyTarget">Body</label>
          <input ng-model="goal.bodyTarget" class="input goalInput" type="number" name="bodyTarget">
        </div>

        <div class="field has-addons">
          <label class="label" for="soulTarget">Soul</label>
          <input ng-model="goal.soulTarget" class="input goalInput" type="number" name="soulTarget">
        </div>

        <hr>
        <div class="column is-full has-text-centered">
          <button  class="button is-black">Update Targets</button>
        </div>
        <div class="column is-full has-text-centered">
          <img class=" imageLogo is-3x2" src="./assets/resolut-favicon-black-small.png" alt="">
        </div>

      </form>
    </section>
    <footer class="modal-card-foot"> </footer>
  </div>
</div>
