<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a ui-sref="home" ui-sref-active="is-active" class="navbar-item"><img src="./assets/resolut-home-logo.png" alt="logo"></a>
      <a ui-sref="about" ui-sref-active="is-active" class="navbar-item">About</a>


      <a role="button" class="navbar-burger" ui-sref-active="is-active" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div ng-class="toggleMenuMobile" class="navbar-menu">
      <div class="navbar-start">
        <a ui-sref="eventsIndex" ui-sref-active="is-active" class="navbar-item">Browse Events</a>
      </div>

      <div class="navbar-end">

        <!-- should show the users image here?? -->
        <a ui-sref="usersShow({ id: getPayload().sub })" ng-if="isAuthenticated()" ui-sref-active="is-active" class="navbar-item">My Profile</a>

        <a ui-sref="login" class="navbar-item" ng-if="!isAuthenticated()" ui-sref-active="is-active">Log in</a>
        <a ui-sref="register" class="navbar-item" ng-if="!isAuthenticated()" ui-sref-active="is-active">Sign up</a>
        <a ng-click="logout()" class="navbar-item" ng-if="isAuthenticated()" ui-sref-active="is-active">Log out</a>

      </div>


    </div>
  </div>
</nav>
