<section class="hero ">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2 has-text-centered">CHECK OUT OVER {{events.length}} EVENTS NEAR YOU</h1>

      <img src="./assets/resolut-logo2.png" alt="logo">

      <!-- put image here -->
    </div>
  </div>
</section>

<div class="container">
  <div class="columns is-6 is-multiline">
    <div class="column is-12">

      <div ng-repeat="event in events" class="level column columns has-background-grey-lighter">
        <div class="eventIndexImage column is-half content ">
          <a ui-sref="eventsShow({ id: event._id })">
            <div class="content-overlay"></div>
            <img class="content-image" style="max-height: 300px" ng-src="{{ event.imageUrl }}" alt="{{ event.eventTitle }}">
          </a>
          <div class="content-details fadeIn-bottom">
          <h4 class="title is-4"> {{ event.category }}</h4>
        </div>
        </div>

        <div  class="eventDetails column is-half ">
          <div class="level">
            <a ui-sref="eventsShow({ id: event._id })">
              <h2 class="title is-5">{{ event.eventTitle}}</h2>
            </a>
          </div>
          <div class="level">
            <div class="level-item">
              <p>DATE: {{ event.formattedDate}}</p>
            </div>
            <div class="level-item">
              <p>TIME: {{ event.formattedTime}}</p>
            </div>
            <div class="level-item">
              <p>{{ event.duration}}Hr</p>
            </div>
          </div>
          <div class="level">
            <p>{{ event.description}}</p>
          </div>
        </div>
        <hr>

      </div>
    </div>
  </div>


  <!-- <div class="column is-half box has-text-centered" >

  <div class="columns">
  <div class="column">
  <h3 class="title is-3">{{ event.eventTitle }}</h3>
</div>
</div>

</div> -->
</div>
</div>

<!-- // need to add isHost boolean reaction here -->
<a class="button" ui-sref="eventsNew" ng-if="isHost"> + an event </a>
