<section class="hero ">
  <div class="hero-body">
    <div class="container has-text-centered">

      <img class="eventHeaderImage" src="./assets/resolut-logo-full-black.png" alt="logo">

      <h1 class="title is-2 has-text-centered">CHECK OUT OVER {{events.length}} EVENTS NEAR YOU</h1>
      <!-- put image here -->
    </div>
  </div>
</section>

<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12">

      <div ng-repeat="event in events" class="level column columns has-background-grey-lighter">
        <div class="eventIndexImage column is-half content ">
          <a ui-sref="eventsShow({ id: event._id })">
            <div class="content-overlay"></div>
            <img class="content-image" style="max-height: 300px" ng-src="{{ event.imageUrl }}" alt="{{ event.eventTitle }}">
          </a>
          <div class="content-details fadeIn-bottom">
            <h2 class="title is-5">{{ event.eventTitle}}</h2>
            <div class="columns">
              <div class="column is-4">

              </div>
              <div class="column is-4">
                <p>DATE: {{ event.formattedDate}}</p>

              </div>
              <div class="column is-4">
                <p>TIME: {{ event.formattedTime}}</p>
                <p>{{ event.duration}}Hr</p>

              </div>
            </div>
        </div>
        </div>
        <h3> {{ event.category }}</h3>
      </div>

    </div>
  </div>


  <!-- <div class="column is-half box has-text-centered" >

  <div class="columns">
  <div class="column">
  <h3 class="title is-3">{{ event.eventTitle }}</h3>
</div>
</div>

</div> -->
</div>
</div>

<!-- // need to add isHost boolean reaction here -->
<a class="button" ui-sref="eventsNew" ng-if="isHost"> + an event </a>
