  <div ng-include="'views/users/show.html'"></div>

<div  class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add a new event</p>
      <button ui-sref="usersShow({id: getPayload().sub})" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">

      <form class="has-text-black" ng-submit="createEvent()">
        <!-- CATEGORY -->
        <div class="field">
          <label for="category">Mind | Body | Soul <span class="has-text-danger">*</span> </label>
          <!-- <input ng-model="event.category" class="input"type="text" name="category" placeholder="Mind, Body or Soul?"> -->
          <div class="select">
            <select  ng-model=event.category>
              <option value="">--Choose Discipline--</option>
              <option value="Mind">Mind</option>
              <option value="Body">Body</option>
              <option value="Soul">Soul</option>
            </select>
          </div>
        </div>

        <!--TITLE -->
        <div class="field">
          <label for="eventTitle">Title <span class="has-text-danger">*</span></label>
          <input ng-model="event.eventTitle" class="input"type="text" name="name" placeholder="eg. Hatha Yoga">
        </div>

        <div class="columns">
          <div class="column is-half">
            <!-- DATE -->
            <div class="field">
              <label for="date">Date <span class="has-text-danger">*</span></label>
              <input ng-model="event.eventDateTime" class="input"type="date" name="date" placeholder="When are you holding your event?">
            </div>
          </div>
          <div class="column is-half">
            <!-- TIME -->
            <div class="field">
              <label for="time">Start Time <span class="has-text-danger">*</span></label>
              <input ng-model="event.eventDateTime" class="input"type="time" name="time" placeholder="What time is your event?">
            </div>

          </div>
        </div>


        <!-- LOCATION -->
        <p>Where is your event?</p>
        <div class="field">
          <label for="streetNumber">Street Number</label>
          <input ng-model="event.location.streetNumber" class="input"type="number" name="streetNumber" placeholder="eg. 21">
        </div>
        <div class="field">
          <label for="streetName">Street Name</label>
          <input ng-model="event.location.streetName" class="input"type="text" name="streetName" placeholder="eg. Oxford Street">
        </div>
        <div class="field">
          <label for="postcode">Postcode <span class="has-text-danger">*</span></label>
          <input ng-model="event.location.postcode" class="input"type="text" name="postcode" placeholder="eg. EC1V 4PA">
        </div>
        <!-- CAPACITY-->
        <div class="field">
          <label for="capacity">Capacity</label>
          <input ng-model="event.capacity" class="input"type="number" name="capacity" placeholder="eg. 12">
        </div>
        <!-- DURATION-->
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label for="duration">Duration Hours <span class="has-text-danger">*</span></label>
              <input ng-model="event.durationHrs" class="input"type="number" name="durationHrs" placeholder="eg. 1 ">
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <label for="duration">Duration Minutes <span class="has-text-danger">*</span></label>
              <input ng-model="event.durationMin" class="input"type="number" name="durationMin" placeholder="eg. 30">
            </div>
          </div>
        </div>
        <!-- DESCRIPTION-->
        <div class="field">
          <label for="description">Description</label>
          <textarea
            ng-model="event.description"
            class="textarea"
            name="description"
            rows="8"
            cols="80"> Tell us about your event...</textarea>
        </div>
        <!-- INDOOR/OUTDOOR-->
        <div class="field">
          <label for="outdoors">Is your event outdoors?</label>
          <input ng-model="event.isIndoors" type="checkbox" name="outdoors" value="true">
        </div>
        <!-- IMAGE URL -->
        <div class="field">
          <label for="imageUrl">Image(URL)</label>
          <input ng-model="event.imageUrl" class="input"type="text" name="imageUrl" placeholder="http://.....">
        </div>

        <hr>
        <div class="column is-full has-text-centered">
          <button  class="button is-black">Create Event</button>
        </div>
        <div class="column is-full has-text-centered">
          <img class=" imageLogo is-3x2" src="./assets/resolut-favicon-black-small.png" alt="">
        </div>
      </form>

    </section>
    <footer class="modal-card-foot"> </footer>
  </div>
</div>
