<!-- EVENTS/SHOW -->

<h1 class="title"> {{ event.eventTitle }} </h1>

<img style="max-height: 300px" ng-src="{{ event.imageUrl }}" alt="{{ event.eventTitle }}">
<p  class="has-text-weight-bold">hosted by: {{ event.createdBy.hosterName || event.createdBy.username}}</p>
<p> duration {{ event.duration }}mins</p>
<p>capacity {{ event.capacity }}ppl</p>
<p>Event formatted date is: {{ event.formattedDate }}</p>
<p>Event formatted time is: {{ event.formattedTime }}</p> <!-- NOTE: having an issue with the virtual, but this will ultimately show a formatted time -->

<div class="description">
  <h3>ABOUT</h3>
  <p> {{ event.description }}</p>
</div>

<div class="rating">
  <p> rating goes here</p>
</div>

<div class="distance">
  <p>distance goes here</p>
</div>

<hr>

<!-- guest and attendance  -->
<div class="attending">
  <div class="attendees columns">
    <div ng-repeat="guest in event.guests" class="column" >
      <a  ui-sref="usersShow({ id: guest._id })" >
        <img class="avatar" ng-src="{{ guest.imageUrl }}" style="max-height: 40px">
        <p>{{ guest.username}}</p>
      </a>
    </div>
  </div>

  <p>There are {{ event.guests.length}} signed up guest</p>
  <button ng-if="!userIsAttending" ng-click="attend()" class="button is-info">Attend</button>
  <button ng-if="userIsAttending" ng-click="cancelAttend()" class="button is-text">Cant go anymore?</button>
</div>

<hr>

<div class="comments">
  <p>commentname goes here</p>
  <p>comment text goes here</p>
</div>

<div class="map" ng-map></div>

<hr>
<div class="level">
  <div class="level-left">
    <a ng-if="checkCreatorIsUser" ui-sref="eventsEdit({ id: event._id })" class="button is-info">Edit</a>
  </div>
  <div class="level-right">
    <button ng-click="deleteEvent()" ng-if="checkCreatorIsUser" class="button is-danger" >Delete</button>
  </div>

</div>
