.hero{
  background-image:  url("https://www.rei.com/adventures/assets/adventures/images/trip/core/northamerica/aza_hero");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
//this will be a placeholder for now. Maybe we can implement a carousel of the images in the db

  #home-title{
    font-size: 7rem;
    text-shadow: 1px 1px 2px black;
  }

  #home-title-mobile{
    text-shadow: 1px 1px 2px black;
  }

  #home-subtitle{
    text-shadow: 1px 1px 2px black;

  }
