body{
  color: white;
  background-color: rgb(52, 52, 49);
  font-family: 'Open Sans', sans-serif;
}


// HOME //
@import "./partials/_home.scss";
@import "./partials/_about.scss";

// EVENTS //
@import "./partials/_eventsIndex.scss";
@import "./partials/_eventsShow.scss";


// SHOW //
@import "./partials/_userShow.scss";


// MAPS //
@import "./partials/map.scss";
