<section class="home">

<section class="hero is-large">
    <div class="hero-body">
      <div class="container has-text-centered">
        <img class="hero-image" src="./assets/resolut-logo2.png" alt="logo">

        <div class="section">
          <div class="links">
            <div class="level">
            <a class="mind" ui-sref="eventsMindIndex">MIND</a>
            <a class="body" ui-sref="eventsBodyIndex">BODY</a>
            <a class="soul" ui-sref="eventsSoulIndex">SOUL</a>
          </div>
          <div class="level has-text-centered">
            <a class="browse" ui-sref="eventsIndex">BROWSE EVENTS</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
