  <!-- INCLUDE THE HOME PAGE -->
  <div ng-include="'views/home.html'"></div>

  <!-- THE MODAL FOR LOGIN -->
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title headerFont">
          Welcome back to Resolut. Please log in. <br>
          (Not got an account? <a ui-sref="register">Sign up!</a>)
        </p>
        <button ui-sref="home" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        <form >
          <div class="field">
            <label class="label" for="email">Email</label>
            <input ng-model="user.email" class="input" type="email" name="email" placeholder="">
          </div>
          <div class="field">
            <label class="label" for="password">Password</label>
            <input ng-model="user.password" class="input" type="password" name="password" placeholder="">
          </div>
<div class="column is-full has-text-centered">
          <button ng-click="login()" class="button is-black">Log in</button>
        </div>
          <div class="column is-full has-text-centered">
            <img class=" imageLogo is-3x2" src="./assets/resolut-favicon-black-small.png" alt="">
          </div>
        </form>
      </section>
      <footer class="modal-card-foot"> </footer>
    </div>
  </div>
