<p>Welcome to Resolut. (Already got an account? <a ui-sref="login">Login</a>)</p>
<form ng-submit="register()" name="form" novalidate>

  <pre>{{ form.postcodeHome | json }}</pre>

  <!-- FIRST NAME -->
  <div class="field">
    <label class="label" for="firstName">First name</label>
    <input required minlength="2" ng-model="user.firstName" class="input" type="text" name="firstName" placeholder="">
  </div>

  <div ng-messages="form.firstName.$error" ng-if="form.firstName.$dirty">
    <small ng-message="required">Please add first name</small>
    <small ng-message="minlength">That name is too short!</small>
  </div>

    <!-- LAST NAME -->
  <div class="field">
    <label class="label" for="surname">Last name</label>
    <input ng-model="user.surname" class="input" type="text" name="surname" placeholder="">
  </div>

  <!-- USERNAME -->
<div class="field">
  <label class="label" for="username">Username</label>
  <input ng-model="user.username" class="input" type="text" name="username" placeholder="">
</div>


  <!-- EMAIL -->
  <div class="field">
    <label class="label" for="email">Email</label>
    <input ng-model="user.email" class="input" type="email" name="email" placeholder="">
  </div>

  <!-- PROFILE PIC  -->

  <div class="field">
    <label class="label" for="profilePic">Profile Picture</label>
    <input ng-model="user.imageUrl" class="input" type="text" name="profilePic" placeholder="http:....">
  </div>


  <!-- POSTCODE -->
  <div class="field">
  <label class="label" for="postcodeHome">Postcode</label>
  <input required ng-model="user.postcodeHome" class="input" type="text" name="postcodeHome" placeholder="SW7 2AF">
  </div>

  <div ng-messages="form.postcodeHome.$error" ng-if="form.$touched || form.postcodeHome.$dirty">
    <p> SOMETHING IS WRONG </p>
  <small ng-message="required">Please enter postcode</small>
</div>


    <!-- PASSWORD-->
  <div class="field">
    <label class="label" for="password">Password</label>
    <input ng-model="user.password" class="input" type="password" name="password" placeholder="">
  </div>

      <!-- PASSWORD CONFIRMATION-->
  <div class="field">
    <label class="label" for="passwordConfirmation">Password Confirmation</label>
    <input ng-model="user.passwordConfirmation" class="input" type="password" name="passwordConfirmation" placeholder="">
  </div>

  <!-- need to add a 'do you want to host' checkbox which toggles boolean on click -->


  <button class="button">Sign up</button>
</form>
