<h1> {{ user.username }}</h1>

<div class="profilePicture">
  <img ng-src="{{user.imageUrl}}" alt="{{user.username}}">
</div>

<div class="hosting">
  <button ng-if="!user.isHost" ng-click="becomeAHost()" class="button is-text">I want to be a host</button>
  <a ui-sref="eventsNew" ng-if="user.isHost" class="button is-text">Click here to create an event</a>
  <form ng-submit="addHosterName()" ng-if="user.isHost && !user.hasHostName">
    <input ng-model="user.hosterName" type="text" name="hosterName" placeholder="ParkCali201">
    <button class="button is-info">Create HosterName</button>
  </form>
</div>

<div class="targetsTracking">
  <p>TARGET HOURS</p>
  <ul>
    <li>MIND: </li>
    <li>BODY: </li>
    <li>SOUL: </li>
  </ul>
  <p>COMPLETED HOURS</p>
  <ul>
    <li>MIND: </li>
    <li>BODY: </li>
    <li>SOUL: </li>
  </ul>
</div>

<div class="charts">
  <p>charts go here</p>
</div>

<div class="attended">
<p>events attended goes here</p>
</div>
