<h1> {{ user.username }}</h1>

<div class="profilePicture">
  <img ng-src="{{user.imageUrl}}" alt="{{user.username}}">
</div>

<div class="hosting">
  <button ng-if="!user.isHost" ng-click="becomeAHost()" class="button is-text">I want to be a host</button>
  <a ui-sref="eventsNew" ng-if="user.isHost" class="button is-text">Click here to create an event</a>
  <form ng-submit="addHosterName()" ng-if="user.isHost && !user.hasHostName">
    <input ng-model="user.hosterName" type="text" name="hosterName" placeholder="ParkCali201">
    <button class="button is-info">Create HosterName</button>
  </form>
  <p ng-if="user.hasHostName">Your Host Name is: {{user.hosterName}}</p>
</div>

<hr>

<div class="targetsTracking">

  <label for="selectMonth">Which month are you tracking? :</label>

  <select id="selectMonth">
  <option value="">--Please choose an option--</option>
  <option value="jan">JAN</option>
  <option value="feb">FEB</option>
  <option value="mar">MAR</option>
  <option value="apr">APR</option>
  <option value="may">MAY</option>
  <option value="jun">JUN</option>
  <option value="jul">JUL</option>
  <option value="aug">AUG</option>
  <option value="sep">SEP</option>
  <option value="oct">OCT</option>
  <option value="nov">NOV</option>
  <option value="dec">DEC</option>
</select>

<h2>Add your target hours for this month below:</h2>
<form ng-submit="setTarget()" name="form">
  <h2 class="title is-4">MIND</h2>
  <div class="field">
    <label class="label" for="mindTarget">MIND TARGET</label>
    <input ng-model="goal.mindTarget" class="input" type="number" name="mindTarget" placeholder="">
  </div>
  <div class="field">
    <label class="label" for="mindCompleted">MIND COMPLETED</label>
    <input ng-model="goal.mindCompleted" class="input" type="number" name="mindCompleted" placeholder="">
  </div>
  <h2 class="title is-4">BODY</h2>
  <div class="field">
    <label class="label" for="bodyTarget">BODY TARGET</label>
    <input ng-model="goal.bodyTarget" class="input" type="number" name="bodyTarget" placeholder="">
  </div>
  <div class="field">
    <label class="label" for="bodyCompleted">BODY COMPLETED</label>
    <input ng-model="goal.bodyCompleted" class="input" type="number" name="bodyCompleted" placeholder="">
  </div>
<h2 class="title is-4">SOUL</h2>
  <div class="field">
    <label class="label" for="soulTarget">SOUL TARGET</label>
    <input ng-model="goal.soulTarget" class="input" type="number" name="soulTarget" placeholder="">
  </div>
  <div class="field">
    <label class="label" for="soulCompleted">SOUL COMPLETED</label>
    <input ng-model="goal.soulCompleted" class="input" type="number" name="soulCompleted" placeholder="">
  </div>
  <button class="button">Update Targets</button>
</form>

<hr>
<p>COMPLETED HOURS</p>
<ul>
  <li ng-repeat = 'goal in goals'>{{ goal.discipline}}: {{ goal.completedHrs }} </li>
</ul>

<hr>
<p>TARGET HOURS</p>
<ul>
  <li ng-repeat = 'goal in goals'>{{ goal.discipline}}: {{ goal.targetHrs }} </li>
</ul>
</div>

<hr>

<p>REMAINING HOURS</p>
<ul>
  <li ng-repeat = 'goal in goals'>{{ goal.discipline}}: {{ goal.targetHrs - goal.completedHrs }} </li>
</ul>
</div>


<hr>
<div class="charts">
  <p>charts go here</p>
</div>

<hr>

<div class="attended">
  <p>events attended goes here</p>
</div>
